/* Scrollbar Style */

/* Webkit Tarayıcılar (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(32, 32, 32); 

}

::-webkit-scrollbar-thumb {
    background-color: #000000; 
    border-radius: 10px;
    
}

::-webkit-scrollbar-thumb:hover {
    background: red; 
}