body{
    margin:0px;
    padding: 0px;
}

header{
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: antiquewhite;
}

header span{
    padding: 0px 15px;
}