body {
    margin: 0;
    padding: 0;
    color: #F5EDED;
    letter-spacing: 1px;
    font-family: Arial, sans-serif;
}

/* Scrollbar Style */

/* Webkit Tarayıcılar (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgb(32, 32, 32); 

}

::-webkit-scrollbar-thumb {
    background-color: #000000; 
    border-radius: 10px;
    
}

::-webkit-scrollbar-thumb:hover {
    background: red; 
}

/* Background Animation */
.background {
    background-color: rgb(24 24 27);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    animation: moveUp 10s linear infinite;
}

@keyframes moveUp {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(-10vh);
    }
}

.content {
    position: relative;
    z-index: -1;
    text-align: center;
    color: #F5EDED;
    padding-top: 20%;
}

/* Compiter Nav Bar Styles*/

.navbar {
    background-color: #2A2E3C;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar .ulno1 li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.navbar ul li a {
    color: #F5EDED;
    text-decoration: none;
    padding: 15px 25px;
    display: inline-block;
    transition: 0.9s;
}

.navbar .ulno1 li a:hover {
    background-color: rgb(24, 24, 24);
    transition: 0.9s;
}

.ulno2 {
    display: flex;
}

.ulno2 li {
    margin-right: 15px;
    display: inline-block;
    padding: 15px 25px;
}

/* Mobile Dropdown Menu */

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navbar .ulno1 {
        display: none;
    }

    .ths {
        position: fixed;
        bottom: 0;
        margin-bottom: 15px;
    }

    .© {
        width: 100%;
        font-size: smaller;
        display: inline-block;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .ulno2 {
        display: none;
    }

    .ulno2 li {
        margin-right: 15px;
    }

    .navbar.responsive .ulno2 {
        display: none;
    }

    .navbar.responsive {
        height: 48.4px;
    }
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgb(28, 27, 27);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #F5EDED;
    display: block;
    transition: 0.3s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.sidebar .closebtn:hover {
    color: #F5EDED;
}

.space {
    height: 48.4px;
}

/*BURDAN KOD YAZMAYA BAŞLA ÜST KISMA SAKIN DOKUNMA*/

.bigcards{
    display: inline-block;
    margin: 25px;
}
.card-container {
    perspective: 1000px;
}

.card {
    width: 250px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.front,
.back {
    width: 100%;
    border-radius: 25px;
    transition: 0.5s;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #F5EDED;
}

.front {
    background-color: rgb(39 39 42);
}

.back {
    background-color: #e74c3c;
    transform: rotateY(180deg);
}

.front h4 {
    margin: 0;
    margin-top: 15px;
    padding: 0;
}

.rotatebutton {
    display: inline-block;
    width: 80%;
    bottom: 5px;
    padding: 3px;
    height: auto;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    background-color: #393939;
}

.rotatebutton h6 {
    margin: 0;
    padding: 0;

}