body {
  margin: 0;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#game {
  width: 800px;
  height: 200px;
  background: #fff;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
}

#dino {
  width: 40px;
  height: 40px;
  background: black;
  position: absolute;
  bottom: 0;
  left: 50px;
}

#cactus {
  width: 20px;
  height: 40px;
  background: green;
  position: absolute;
  bottom: 0;
  left: 800px;
}
