/* Background Animation */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
    z-index: -1;
}

.circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    animation: moveUp 10s linear infinite;
}

.Darkcircle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    animation: moveUp 10s linear infinite;
}

@keyframes moveUp {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(-10vh);
    }
}

.content {
    position: relative;
    z-index: -1;
    text-align: center;
    padding-top: 20%;
}