.bigcards{
    display: inline-block;
    margin: 25px;
}
.card-container {
    perspective: 1000px;
}

.card {
    width: 250px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.front,
.back {
    width: 100%;
    border-radius: 25px;
    transition: 0.5s;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #F5EDED;
}

.front {
    background-color: rgb(39 39 42);
}

.back {
    background-color: #e74c3c;
    transform: rotateY(180deg);
}

.front h4 {
    margin: 0;
    margin-top: 15px;
    padding: 0;
}

.rotatebutton {
    display: inline-block;
    width: 80%;
    bottom: 5px;
    padding: 3px;
    height: auto;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    background-color: #393939;
}

.rotatebutton h6 {
    margin: 0;
    padding: 0;

}