/* Compiter Nav Bar */
.navbar {
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar .ulno1 li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.navbar ul li a {
    text-decoration: none;
    padding: 15px 25px;
    display: inline-block;
    transition: 0.9s;
}

.navbar .ulno1 li a:hover {
    background-color: rgb(24, 24, 24);
    transition: 0.9s;
}

.ulno2 {
    display: flex;
}

.y-0736 {
    margin-right: 15px;
    display: inline-block;
    padding: 15px 25px;
}

/* Mobile Dropdown Menu */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: 0.4s;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .navbar .ulno1 {
        display: none;
    }

    .ths {
        position: fixed;
        bottom: 0;
        margin-bottom: 15px;
    }

    .© {
        width: 100%;
        font-size: smaller;
        display: inline-block;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .ulno2 {
        display: none;
    }

    .navbar.responsive .ulno2 {
        display: none;
    }

    .navbar.responsive {
        height: 48.4px;
    }
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.sidebar .closebtn:hover {
    color: red;
}

/* Theme */
@import "https://unpkg.com/open-props/easings.min.css";

.themes {
    right: 50px;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    top: 20px;
    right: 20px;
    font-size: 24px;
    height: 48.4px;
}

.theme-toggle .fa-sun {
    color: rgb(28, 27, 27);;
    transition: transform 0.5s;
}

.theme-toggle .fa-moon {
    color: #ffffff;
    transition: transform 0.5s;
    transform: scale(0);
}

.dark .fa-sun {
    transform: scale(0);
}

.dark .fa-moon {
    transform: scale(1);
}