/* *Light Theme */

.navbar-element.lighttheme,
.footer-element.lighttheme {
    transition: all 0.5s ease;
    color: #323232;
}

.hamburgerline.lighttheme {
    transition: all 0.5s ease;
    background-color: #323232;
}

.navbar.lighttheme,
.sidebar.lighttheme,
footer.lighttheme {
    transition: all 0.5s ease;
    background-color: #dddddd;
}

#mainContent.lighttheme {
    transition: all 0.5s ease;
    background-color: #dedede;
}

#BckgrndAnmtn.lighttheme {
    transition: all 0.5s ease;
    background-color: #F5F5F5;
}

/* *Dark Theme */

.navbar-element.darktheme,
.footer-element.darktheme {
    transition: all 0.5s ease;
    color: #E0E0E0;
}

.hamburgerline.darktheme {
    transition: all 0.5s ease;
    background-color: #E0E0E0;
}

.navbar.darktheme,
.sidebar.darktheme,
footer.darktheme {
    transition: all 0.5s ease;
    background-color: #1f1f1f;
}

#mainContent.darktheme {
    transition: all 0.5s ease;
    background-color: #2E2E2E;
}

#BckgrndAnmtn.darktheme {
    transition: all 0.5s ease;
    background-color: #1A1A1A;
}

.mainContent.lighttheme {
    color: rgb(32, 32, 32);
    transition: all 0.5s ease;
}

.mainContent.darktheme {
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
}