body.dark {
    color: white;
    background-color: rgb(32, 32, 32);
    transition: 0.5s;
}

body.light {
    color: black;
    background-color: rgb(249, 249, 249);
    transition: 0.5s;
}

.navbar.light {
    color: black;
    background-color: rgb(213, 213, 213);
    transition: 0.5s;
}

.navbar.dark {
    color: rgb(255, 255, 255);
    background-color: rgb(28, 27, 27);
    transition: 0.5s;
}