body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(135deg, #0d0d0d, #1f1f1f);
    color: #fff;
}

header {
    height: 50px;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: rgb(49, 42, 33);
}

header span {
    padding: 0px 15px;
}

main {
    align-items: center;
    justify-content: center;
    display: grid;
    height: 100vh;
    justify-items: center;
}

main .container {
    margin-top: 100px;
    justify-content: center;
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    max-width: 80%;
}

.project{
    border: 1px #fff solid;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    justify-content: center;
    align-self: center;
    display: flex;
}

.projects{
    display: flex;
    justify-content: space-between;
}